.main-container{
    font-family: 'sans-serif';
}

.navbar{
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: rgb(25, 25, 25);
    display: flex;
    align-items: center;

}

img{
    height: 40px;
}