

.Login-container{
    width: 100vw;
    height: 100vh;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.imageContainer{
    width: 30%;
    height: 91.2%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:20px 0px 0px 20px;
    box-shadow: 0 5px 20px 5px #222222;
    animation: changeBg 30s infinite;
    
    
}

@keyframes changeBg{
   0%,100%  {background-image: url("https://www.themoviedb.org/t/p/w600_and_h900_bestv2/izIMqapegdEZj0YVDyFATPR8adh.jpg");}
   25% {background-image: url("https://www.themoviedb.org/t/p/w600_and_h900_bestv2/fVzXp3NwovUlLe7fvoRynCmBPNc.jpg");}
   50% {background-image: url("https://www.themoviedb.org/t/p/w600_and_h900_bestv2/asuSvb1MDN04HftUFxlp7i6ZHpV.jpg");}
   75% {background-image: url("https://www.themoviedb.org/t/p/w600_and_h900_bestv2/cKNxg77ll8caX3LulREep4C24Vx.jpg");}
}

.login-form{
    width: 30%;
    height: 91.2%;
    background: #202020;
    color: white;
    text-align: center;
    border-radius:0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 20px 5px #222222;
}

.login-form a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(47, 161, 236);
    transition: 0.8s;
 }

 .login-form a:hover{
    text-decoration: none;
    font-weight: bold;
    color: rgb(157, 37, 226);
 }

.title{
    transform: translateY(-40%);
}
.title h1{
   font-size: 60px;
}

.title h2{
    font-size: 16px;
    opacity: 30%;
    font-style: italic;
}

 .login-form-group{
     width: 100%;
 }

.form-field{
    width: 50%;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
    background-color:#2D2D2D;
    color: white;
    border: 2px solid rgb(47, 161, 236);
}

.form-field::placeholder{
    color: rgba(255, 255, 255, 0.808);
}

.button-login{
    width: 52%;
    font-size: 20px;
    font-style: bold;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(47, 161, 236);
    transition: 0.5s;

}

.button-login:hover{
    
    background-color: rgb(157, 37, 226);

}

.form-error{
    font-size: 14px;
    color: red;
    font-style: italic;
    display: block;
    margin-top: 8px;
}

.register-link-text{
    font-size: 80%;
}